# Datastructures

## The builtins data structures are: lists, tuples, sets and dictionaries

* Lists, tuples are ordered sequences of objects. (like strings)
* Set and dictionaries are uordered.
* List, tuples and set can contain any type of objects. 
* Lists and tuples are like arrays. 
* Tuples are immutables whereas lists are mutables so they can be extended or reduced at will. 
* Sets are mutable unordered sequence of unique elements whereas frozensets are immutable sets.

# LIST

You can define an empty list by using two enclosing square brackets `[]`. Just like array in other programming language. Or you can use `list()` method without any arguments and assign it to a variable.

In [1]:
# defining a empty list

my_list_1 = []
my_list_2 = list()

print(len(my_list_1), len(my_list_2), type(my_list_1), sep=" | ")

0 | 0 | <class 'list'>

In [2]:
l = list()
l.append(123)
print(l)

[123]

List is like an array but unlike other programming languages, list can contain any type of objects.

In [3]:
any_obj_list = ["Hello", 1, True, [5.0, 5/2], None]
print(any_obj_list)

['Hello', 1, True, [5.0, 2.5], None]

In [4]:
# This is a list of Strings
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp)

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony']

In [5]:
# len() gives how many values are there inside a list
print(len(comp))

5

In [6]:
# Accessing by index
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp[len(comp)-1])

Sony

In [7]:
# Last value is accessed by -1
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp[-1])
print(comp[-5])

Sony
Apple

In [8]:
# IndexError exception while trying to access index that doesn't exist
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp[20])

IndexError: list index out of range

## Slicing

In [9]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp[0:2])
print(comp[:])
print(comp[:2])
print(comp[2:])

['Apple', 'Samsung']
['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony']
['Apple', 'Samsung']
['Lenovo', 'LG', 'Sony']

In [10]:
# Slicing can be done in string as well because string is also squence of characters.
a = "Hello"
a[0:3]

'Hel'

In [11]:
# Let's look at all the possible slicing and pay high attention to the output
a = list(range(10))
print(a)
print(a[2])
print(a[-2])
print(a[2:])
print(a[:2])
print(a[2:6])
print(a[2:-2])
print(a[-6:-2])
print(a[:])
print(a[::2])
print(a[2::2])
print(a[:6:2])
print(a[2:6:2])
print(a[::-2])
print(a[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
8
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[2, 3, 4, 5]
[2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[2, 4, 6, 8]
[0, 2, 4]
[2, 4]
[9, 7, 5, 3, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

> Same slicing techniques used in above string can be applied to lists as well.

# List methods
Everyting in Python is an object and List is also definately an object. Hence, in OOP concept, object are likely to have a methods (behaviour)

In [12]:
a = []
type(a)

list

In [13]:
# index(arg) method is used to find the index of an element in the list
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp.index("Samsung"))

# Throws ValueError if not in list
print(comp.index("XYZ"))

1

ValueError: 'XYZ' is not in list

In [14]:
"""
append(arg) method is used to add element in the list. 
While adding a new element using append method, the newly 
added element is added at the end of the list.
Adding an element in a list
""" 
print(comp)
comp.append("Sharp")
comp.append("Xiaomi")
print(comp)

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony']
['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony', 'Sharp', 'Xiaomi']

In [15]:
"""
insert() method is used to insert an element in a particular index of the list.
"""
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp)

comp.insert(20, "Sharp") # even if you add element in larger index, it'll always be added at the end the list
comp.insert(0, "Xiaomi") 

print(comp)
print(comp.index("Sharp"))

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony']
['Xiaomi', 'Apple', 'Samsung', 'Lenovo', 'LG', 'Sony', 'Sharp']
6

In [16]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
extra = ["Sharp", "Xiaomi"]
comp.append(extra) # wrong implementation because it'll just add the whole list at the end of the comp list
print(comp)

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony', ['Sharp', 'Xiaomi']]

In [17]:
"""
If you want to merge two list together, you can use extend() method.
"""
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
extra = ["Sharp", "Xiaomi"]
comp.extend(extra)
print(comp)

x = [1,2,3]
y = ["a", "b"]
print(x)
x.extend(y)
print(x)

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony', 'Sharp', 'Xiaomi']
[1, 2, 3]
[1, 2, 3, 'a', 'b']

In [18]:
"""
extending a list by using extend method can also be done via the "+" operator.
"""
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
extra = ["Sharp", "Xiaomi"]
comp += extra
print(comp)

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony', 'Sharp', 'Xiaomi']

In [19]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
comp.remove("LG")
print(comp)
print(comp.index("Sony")) # Index is changed

['Apple', 'Samsung', 'Lenovo', 'Sony']
3


## List as a Stack

In [20]:
"""
List data structure can be used to simulate the stack data structure.
For this, to extract the topmost element in the list, you can use pop() method.
pop() method always returns last value in the list like in stack.
Note: pop() method manipulates the list.
"""
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
popped = comp.pop(1)
print("Popped : ", popped)
print(comp)
# comp.push() -> comp.append(value)

Popped :  Samsung
['Apple', 'Lenovo', 'LG', 'Sony']

## Other important methods

In [21]:
x = [5, 6, 1, 4, 0, 9]
x.sort(reverse=True) # ascending
print(x)

print("==============")

comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
comp.sort()
print(comp)

y = [1, 2, 3, "a", "b"]
y.sort() #Bug (Can't compare integers and string)

[9, 6, 5, 4, 1, 0]
==============
['Apple', 'LG', 'Lenovo', 'Samsung', 'Sony']

TypeError: '<' not supported between instances of 'str' and 'int'

In [22]:
x = [5, 6, 1, 4, 0, 9]
x.sort(reverse=True) # descending
print(x)

[9, 6, 5, 4, 1, 0]

In [23]:
# Reversing a list
x = [5, 6, 1, 4, 0, 9]
x.reverse()
print(x)

[9, 0, 4, 1, 6, 5]

In [24]:
x = [5, 6, 1, 4, 0, 9]
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
sorted_x = sorted(x, reverse=True)
sorted_comp = sorted(comp)
print(sorted_x)
print(sorted_comp)

[9, 6, 5, 4, 1, 0]
['Apple', 'LG', 'Lenovo', 'Samsung', 'Sony']

## Operations

In [25]:
x = [5.3, 6, 1, 4, 0, 9]
print("SUM: ", sum(x))
print("MAX: ", max(x))
print("MIN: ", min(x))

SUM:  25.3
MAX:  9
MIN:  0

In [26]:
print(max("Hello world"))

w

In [27]:
# Check whether an element is in the list or not
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print("Apple" in comp)
print("Xaiomi" in comp)

True
False

## Looping over a List

In [28]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
for sub in comp:
    print(sub, end='\t')

Apple	Samsung	Lenovo	LG	Sony

In [29]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
for index, sub in enumerate(comp):
    print(index, sub)

0 Apple
1 Samsung
2 Lenovo
3 LG
4 Sony

In [30]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
for index, sub in enumerate(comp, start=100):
    print(index, sub)

100 Apple
101 Samsung
102 Lenovo
103 LG
104 Sony

## Joining elements in a list

In [31]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print("= ".join(comp))

Apple= Samsung= Lenovo= LG= Sony

In [32]:
# You can olny join list of Strings
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
joined = "--".join(comp)
print(joined)
list_from_join = joined.split("--")
print(list_from_join)

Apple--Samsung--Lenovo--LG--Sony
['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony']

In [33]:
x = "a+b+c+d"
list_plus = x.split("+")
print(list_plus)

['a', 'b', 'c', 'd']

## Lists are mutable

In [34]:
comp = ["Apple", "Samsung", "Lenovo", "LG", "Sony"]
print(comp)
comp[0] = "Sharp"
print(comp)

['Apple', 'Samsung', 'Lenovo', 'LG', 'Sony']
['Sharp', 'Samsung', 'Lenovo', 'LG', 'Sony']

In [35]:
list_1 = ["a", 1, True]
list_2 = list_1
print(list_1)
print(list_2)

print("\n")

list_1[0] = "b"
print(list_1)
print(list_2)

print("\n")
print(list_1 is list_2)

['a', 1, True]
['a', 1, True]


['b', 1, True]
['b', 1, True]


True

## Multidimension List

In [36]:
n_list = [
            [1,2,3],
            [4,5,6]
         ]
print(n_list)

[[1, 2, 3], [4, 5, 6]]

## How many?

In [37]:
x = [1,2,4,5,0,2,3,4,6,7,8,5,6,7,8,8,8,2]
print(x.count(-1)) # How many -1 are there in the list x

0

In [38]:
l = [1, 2, 3]
l*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# Tuple

Tuple is very similar to the list data structure but, tuples are immutable. [Can't be changed]

In [39]:
# Empty tuple
tup = ()
tup = tuple()

print(tup)
print(len(tup))
print(type(tup))

()
0
<class 'tuple'>

In [40]:
tup = (1, 2, 3, 4)
print(tup)

(1, 2, 3, 4)

In [41]:
no_paran_tup = 1, 2, 3, 4
print(no_paran_tup)

(1, 2, 3, 4)

In [42]:
tup = (1, 2, 3, 4)
print(tup[5]) # Just like List, index out ot bound expection is thrown if tried to access index that is out of bound

IndexError: tuple index out of range

In [43]:
# Just like list, tuple is iterable and you can loop over it
tup = (1, 2, 3, 4)
for each in tup:
    print(each)

1
2
3
4

In [44]:
names = ("Ram", "Sita", "Gopal", "Hari")
for idx, each in enumerate(names, start=100):
    print(idx, each)

100 Ram
101 Sita
102 Gopal
103 Hari

In [45]:
names = ("Ram", "Sita", "Gopal", "Hari")
names[0] = "Shyam" # Throws exception because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [46]:
# Often confused if we want to make a single value tuple. This can be achieved by adding an extra comma (,) at the end
tup = ("a", )
print(type(tup))
print(len(tup))

<class 'tuple'>
1

In [47]:
tup = (1) #without comma, one value is treated as a native data type
print(type(tup))

<class 'int'>

In [48]:
tup = (1, 2, 3)
print(tup)
tup = tup + (4,) # This creates new tuple in memory instead of using the old tup object
print(tup)

(1, 2, 3)
(1, 2, 3, 4)

In [49]:
tup = (1, 2)
print(tup*6)
print(tup)

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)
(1, 2)

In [50]:
tup_1 = ("a", "b")
tup = (1, )
merged = tup_1+tup
print(merged)

# tup_1, tup and merged all are different objects in the memory
print(f"ID of tup_1: {id(tup_1)} | ID of tup: {id(tup)} | ID of merged: {id(merged)}")

('a', 'b', 1)
ID of tup_1: 4437977736 | ID of tup: 4439969184 | ID of merged: 4439915688

In [51]:
tup = (1, 2, 4, 1, 3, 2, 5, 2, 4)
print(tup.count(2))
print(tup.index(2))
print(3 in tup)
print(31 not in tup)

3
1
True
True

## Value unpacking

In [52]:
x, y, z = (1, 2, (3, 4))
print(type(x))
print(y)
print(z)

<class 'int'>
2
(3, 4)

In [53]:
x, y, z = range(3)
print(x)
print(y)
print(z)

0
1
2

In [54]:
# This results in error because 4 values are being unpacked to 3 variables
x, y, z = range(4)

ValueError: too many values to unpack (expected 3)

In [55]:
# Swapping two values
a = 3
b = 5
print("a = {}, b = {}".format(a, b))
a, b = (b, a)
print("\nAfter swapping")
print("a = {}, b = {}".format(a, b))

a = 3, b = 5

After swapping
a = 5, b = 3

## Type conversion

In [56]:
a = (1, 2, 3)
str_a = str(a)
print(str_a)
print(type(str_a))

(1, 2, 3)
<class 'str'>

In [57]:
a = (1, 2, 3)
list_a = list(a)
print(list_a)
print(type(list_a))

[1, 2, 3]
<class 'list'>

# Sets

In [58]:
s = {1, 2, 3}
print(s)
print(type(s))
s = set()
print(s)
print(type(s))
print(len(s))

{1, 2, 3}
<class 'set'>
set()
<class 'set'>
0

In [59]:
s = {} # we don't initialize set like this because this is a dictionary. Use set() constructor
print(type(s))

<class 'dict'>

In [60]:
s = {"Hello", 1, 1.5, ("OK", None), "Hello"}
s

{('OK', None), 1, 1.5, 'Hello'}

In [61]:
s = {1, 2, 3, 4, 3}
print(s)

{1, 2, 3, 4}

In [62]:
s = {"Hello", 1, 1.5, ("OK", None)}
s.update(("Helloo", 2))
print(s)
print(type(s))
print(len(s))

{'Helloo', 1, 'Hello', 1.5, 2, ('OK', None)}
<class 'set'>
6

In [63]:
comp = {"OOP", "CSA", "NM", "MGMT", "OS"}
print(comp)
comp_one = {"OOP", "CSA", "NM", "MGMT", "OS", "OOP"}
print(comp_one) # since set can contain only unique elements

{'OOP', 'MGMT', 'OS', 'CSA', 'NM'}
{'OOP', 'MGMT', 'OS', 'CSA', 'NM'}

## Set methods

In [64]:
set_one = {"a", "e", "i", "o", "u"}
set_two = {"a", "b", "c", "d", "e", "f", "g"}

print(set_one.intersection(set_two))
print(set_one.difference(set_two))
print(set_one.union(set_two))

{'a', 'e'}
{'o', 'u', 'i'}
{'b', 'a', 'o', 'g', 'f', 'e', 'c', 'd', 'u', 'i'}

In [65]:
set_one = {"a", "e", "i", "o", "u"}
set_sub = {"a", "e"}
print(set_one.issuperset(set_sub))
print(set_sub.issubset(set_one))

True
True

In [66]:
set_one = {"a", "e", "i", "o", "u"}
set_sub = {"a", "e"}
set_one.clear()
print(set_one)

set()

In [67]:
str1 = "Hello my name is Ram"
str2 = "Ram is my name"

str1_lst = str1.split(" ")
str2_lst = str2.split(" ")

str1_set = set(str1_lst)
str2_set = set(str2_lst)

print(str1_set.intersection(str2_set))
print(str2_set.issubset(str1_set))

{'Ram', 'name', 'is', 'my'}
True